@model IEnumerable<DataBaseConnection.Clothings>

@{
    ViewBag.Title = "GetAllClothes";
}

<h2>GetAllClothes</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPrice)
        </td>
        <td>
            @Html.ActionLink("Add", "AddNewClothes", new { id = item.CId })
            @Html.ActionLink("update", "UpdateClothes", new { id = item.CId })
            @Html.ActionLink("Delete", "DeleteClothes", new { id = item.CId })
        </td>
    </tr>
}

</table>
